---
# Copyright 2011 Gilt Groupe, INC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# General config options
general:
 
  # fqdn/fqun construction happens in this section
  # a fqdn in mothership is: server.realm.site_id.domain.tld
  # ex: ns1.qa.sfo.localhost.localdomain
  # a fqun in mothership is: username.realm.site_id.domain.tld
  # ex: dkovach.prod.area51.mywebsite.com


# log config options
logconfig:

  # log directory, default is /var/log/mothership
  logdir: '/var/log/mothership'

  # logfile to write our main log to. defaults to mothership.log
  logfile: 'mothership_cli.log'

  # whether to log to logfile or not 
  log_to_file: True

  # logging level. default is DEBUG. options are:
  # DEBUG, ERROR, WARNING, INFO 
  log_level: "DEBUG"

  # audit log filename, default is mothership_audit.log
  audit_log_file: 'mothership_audit.log'
